*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.dimenzioni{
    width: 100vw;
    height: 100vh;
}
.dimenzioni2{
    width: 100vw;
    height: 90vh;
}
.debug{
    width: 1000px;
    height: 700px;
}
a{
    text-decoration: none;
    
}



/*STYLE-----*/
    .colortext{
        color: white;

    }
    .stayltex{

    }


/*STYLE-------*/
.header{
    background-image: url("./img/jumbo.png");
    position: relative;
    background-position: center;
    background-size:100% 100%;
    background-repeat: no-repeat;
    font-family: 'Rubik', sans-serif;
}

/*MENU--------*/
    .menu{
        vertical-align: middle;
        width: 80%;
        padding-top: 1rem;
        margin: auto;
        
    }
    .logo, .lista, .tasto{
        width: 20%;
        font-size: 20px;
        float: left;
    }
    .logo{
        float: left;
        margin: -2;

    }
    .lista{
        padding-right: 10px;
        color: white;
        font-size: 12px;
        line-height: 28px;
        text-align: center;
        width: 60%;
    }
    li{
        margin-left: 38px;
        vertical-align: middle;
        text-decoration: none;
        display: inline;

    } 

    .tasto{
        font-size: 12px;
        float: right;
        background-color: white;
        width: 58px;
        text-align: center;
        border-radius: 15px;
        line-height: 28px;
    }
/*RIQUADRO CON TITOLO--------*/
    .headcontain{
        width: 60%;
        height: 60%;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    h1{
        margin-bottom: 40px;
        margin-top: 40px;
        font-size: 44px;
    }

/*tasti dentro header*/
        .head_tasti{
            margin-top: 34px;
        }
        .head_t_sinistro{
            
        }
        .head_t_destro{
            
        }
        .style_head_t{
            background-color: white;
            padding: 12px 28px;
            border-radius: 20px;
            margin: 10px;
        }
/*SECTIONs123--------*/
        .se_contain1{
            margin: auto;
            width: 80%;
            height: 100%;
             
        }

        .se_contain{
            margin: auto;
            width: 80%;
            height: 100%;
            background-color: darksalmon; 
    }
        .img_contain{
            background-repeat: no-repeat;
            background-position: center;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            }
            .se_paragraph{
                font-size: ;
                font-family: 'Rubik', sans-serif;
                width: 90%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
            .cont_right p{
                margin-top: 10%;
            }
        .section1, .section2, .section3{
            
            position: relative;
        }
        .item1{
            background-image: url("./img/item1.svg");
        }
        .item2{
            background-image: url("./img/item2.svg");
        }
        .item3{
            background-image: url("./img/item3.svg");
        }
        
        .cont_left{
            position: relative;
            float: left;
            
            width: 70%;
            height: 100%;
        }
        .cont_right{
            position: relative;
            float: left;
            
            width: 30%;
            height: 100%;
        }
        
    
/*SECTIONs4--------*/
    .section4{
        padding-top: 5%;
        padding-bottom:5%;
    }
    .top, .sec_bottom{
        width: 100%;
        height: 25%;
    }
    .middle{
        width: 100%;
        height: 50%;
        background-size: cover;

    }
    .top{
        background-color: lightcoral;
    }
    .middle{
        background-color:cornsilk ;
    }
    .bottom{
        background-color: rgb(200, 233, 122);
    }
 /*SECTIONs4--------*/
 
    .footer{
        
        background-color: darkturquoise;
        width: 100%;
        height: 90vh;
        
    }
    .foot_colonne{
        margin: auto;
        width: 80%;
        height: 90%;
         
    }
    .foot_righe{
        text-align: center;
        width: 100%;
        height: 90%;
        
    }
   
   
/*----- COLONNE-----*/
    .marrone{
        background-color: brown;
        float: left;
        width: 40%;
        height: 80%;
    }
    .foot_dim{
        float: left;
        width: 15%;
        height: 80%;
    }
    .blu{
       background-color: blue; 
    }
    .grigio{
        background-color: gray;
    }
    .azzurro{
        background-color: cyan;
    }
    .verde{
        background-color: green;
    }
/*------RIGHE*/
    .riga_left, .riga_right{
        float: left;
        width: 50%;
        
    }
   .riga_left{
    background-color: hotpink;
       
   }
   .riga_right{
       background-color: rgb(141, 76, 85);
   }
   .riga{
       width: 100%;
       height: 5%;
       
       background-color:black;
   }
   
    

    
   