
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.dimenzioni{
    width: 100vw;
    height: 100vh;
}
.dimenzioni2{
    width: 100vw;
    height: 90vh;
}
.debug{
    width: 1000px;
    height: 700px;
}
a{
    text-decoration: none;
    
}



/*STYLE-----*/
    .colortext{
        color: white;

    }
    .stayltex{

    }


/*STYLE-------*/
.header{
    background-image: url("./img/jumbo.png");
    position: relative;
    background-position: center;
    background-size:100% 100%;
    background-repeat: no-repeat;
    font-family: 'Rubik', sans-serif;
}

/*MENU--------*/
    .menu{
        vertical-align: middle;
        width: 80%;
        padding-top: 1rem;
        margin: auto;
        
    }
    .logo, .lista, .tasto{
        width: 20%;
        font-size: 20px;
        float: left;
    }
    .logo{
        float: left;
        margin: -2;

    }
    .lista{
        padding-right: 10px;
        color: white;
        font-size: 12px;
        line-height: 28px;
        text-align: center;
        width: 60%;
    }
    li{
        margin-left: 38px;
        vertical-align: middle;
        text-decoration: none;
        display: inline;

    } 

    .tasto{
        font-size: 12px;
        float: right;
        background-color: white;
        width: 58px;
        text-align: center;
        border-radius: 15px;
        line-height: 28px;
    }
/*RIQUADRO CON TITOLO--------*/
    .headcontain{
        width: 60%;
        height: 60%;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    h1{
        margin-bottom: 40px;
        margin-top: 40px;
        font-size: 44px;
    }

/*tasti dentro header*/
        .head_tasti{
            margin-top: 34px;
        }
        .head_t_sinistro{
            
        }
        .head_t_destro{
            
        }
        .style_head_t{
            background-color: white;
            padding: 12px 28px;
            border-radius: 20px;
            margin: 10px;
        }
/*SECTIONs123--------*/
        .se_contain1{
            margin: auto;
            width: 80%;
            height: 100%;
             
        }

        .se_contain{
            margin: auto;
            width: 80%;
            height: 100vh;
            background-color: darksalmon; 
    }
        .img_contain{
            background-repeat: no-repeat;
            background-position: center;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            }
            .se_paragraph{
                font-family: 'Rubik', sans-serif;
                width: 90%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
            .cont_right p{
                margin-top: 10%;
            }
        .section1, .section2, .section3{
            position: relative;
        }
        .item1{
            background-image: url("./img/item1.svg");
        }
        .item2{
            background-image: url("./img/item2.svg");
        }
        .item3{
            background-image: url("./img/item3.svg");
        }
        .item4{
            background-image: url("./img/item4-big.svg");
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }
        
        .cont_left{
            position: relative;
            float: left;
            
            width: 70%;
            height: 100%;
        }
        .cont_right{
            position: relative;
            float: left;
            
            width: 30%;
            height: 100%;
        }
        
    
/*SECTIONs4--------*/
    .section4{
        margin: auto;
        width: 1000px;
        padding-top: 5%;
        padding-bottom:5%;
    }
    .top.bottom{
        width: 100%;
        height: 20%;
    }
    .middle{
        width: 100%;
        height: 60%;
    }
    .top{
        font-family: 'Rubik', sans-serif;
        text-align: center;
        
    }
    .bottom{
        font-family: 'Rubik', sans-serif;
        
        
    }
    .cont_bott{
        width: 100%;
        height: 100%;
        text-align: center;
    }
    .sez_4{
       
        margin: auto;
        background-color: white;
        
        padding: 5px;
        border-radius: 20px;
        margin-top: 10px;
        
    }
    
 /*FOOTER--------*/
    .footer{
        width: 1000px;
    }
        .colonna1{
            background-color: lightcoral;
            width: 40%;
            height: 70%;
        }
        .colonna2,
        .colonna3,
        .colonna4,
        .colonna5{
            background-color: khaki;
            width: 15%;
            height: 70%;
        }